{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "overrides": [
    {
      "test": ["./server"],
      "presets": [
        ["next/babel", { "preset-env": { "targets": { "node": "current" } } }]
      ]
    }
  ]
}
